@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');


header .navbar {
  background-color: #8B0000 !important; 
  border-bottom: 2px solid #D4AF37;
}

.navbar-brand {
  color: #FFD700 !important;
  font-family: 'Cinzel Decorative', serif;
  font-size: 35px;
  text-shadow: 0 0 5px #FFD700;
}

.nav-link {
  color: #C5BBAE !important;
  transition: 0.3s;
}

.nav-link:hover {
  color: #FFD700 !important;
  text-shadow: 0 0 5px #FFD700;
}

.btn-outline-success {
  border-color: #D4AF37;
  color: #D4AF37;
}

.btn-outline-success:hover {
  background-color: #D4AF37;
  color: #8B0000;
  box-shadow: 0 0 10px #FFD700;
}

header {
  box-shadow: 0 0 20px #D4AF37;
}

a:hover {
  color: #FFD700;
  text-shadow: 0 0 8px #FFD700;
  transition: all 0.3s ease;
}

@keyframes brilho {
  0% {opacity: 0.6;}
  50% {opacity: 1;}
  100% {opacity: 0.6;}
}

.logo {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("https://images.pexels.com/photos/7599717/pexels-photo-7599717.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(100, 0, 0, 0.5);
  background-blend-mode: multiply;
    
}

#tit {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  color: #FFD700 !important;
  text-shadow: 0 0 5px #FFD700;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}
