@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

header .navbar {
  background-color: #704214 !important; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1030;
}

header .navbar::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 150px;
  right: 0;
  height: 100%;
  pointer-events: none;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    transparent,
    #FFD700,
    #D4AF37,
    #FFD700,
    transparent
  );
  background-size: 200% 100%;
  z-index: -1;
}

.navbar-brand {
  color: #8B0000 !important;
  font-family: 'Cinzel Decorative', serif;
  font-size: 35px;
  text-shadow: 0 0 5px #FFD700;
}

.nav-link {
  color: #C5BBAE !important;
  transition: 0.3s;
}

.nav-link:hover {
  color: #FFD700 !important;
  text-shadow: 0 0 5px #FFD700;
}

.btn-outline-success {
  border-color: #D4AF37;
  color: #D4AF37;
}

.btn-outline-success:hover {
  background-color: #D4AF37;
  color: #1d1105;
  box-shadow: 0 0 10px #FFD700;
}

header {
  box-shadow: 0 0 20px #D4AF37;
}

a:hover {
  color: #FFD700;
  text-shadow: 0 0 8px #FFD700;
  transition: all 0.3s ease;
}

@keyframes brilho {
  0% {opacity: 0.6;}
  50% {opacity: 1;}
  100% {opacity: 0.6;}
}

.logo {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}

html, body {
  overflow-x: hidden;
}

body {
  padding-top: 70px;
  margin: 0;
  background: linear-gradient(to bottom, #130101 0%, #8B0000 200%);
  background-repeat: no-repeat;
  background-size: 100% 200%;
    
}

#tit {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  color: #a40101 !important;
  text-shadow: 0 0 5px #8c0a0a;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

#engrenagem1 {
  position: fixed; 
  bottom: 80%;
  left: auto;
  right: -2%;
  width: 100px;
  opacity: 0.8;
  max-width: 15vw;
  pointer-events: none;
  
}

#engrenagem1 img {
  transform-origin: center center;
  width: 100%;
  transition: transform 0.1s linear;
  height: auto;
}

@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* esconder a engrenagem em tablets e celulares */
@media (max-width: 991.98px) { /* md e menores (tablet) */
  #engrenagem1 {
    display: none;
  }
}
/* garantir em celulares menores */
@media (max-width: 575.98px) {
  #engrenagem1 {
    display: none;
  }
}

.frase {
  font-family: "Eagle Lake", serif;
  color: #DADADA;
  text-align: center;
  margin: 0 auto;
  overflow-wrap: break-word;
  width: 80%;
  line-height: 1.6;
  font-size: 22px;
  margin-bottom: 20px;
}

p {
  color: #DADADA;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  overflow-wrap: break-word;
  width: 80%;
  text-align: justify;
  line-height: 1.6;
  font-size: 18px;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-family: "Eagle Lake", serif;
  color: #DADADA;
  margin: 0 auto;
  width: 80%;
  line-height: 1.6;
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  font-family: "Eagle Lake", serif;
  color: #fe0000;
  margin: 0 auto;
  width: 80%;
  line-height: 1.6;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}

main {
  margin-bottom: 100px;
}

footer {
  background-color: #704214;
  color: #d4af37;
  text-align: center;
  padding: 10px 5px;
  border-top: 1px solid #d4af37;
  font-family: "Cinzel", serif;
  font-size: 0.85rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer-creditos {
  margin: 0;
  font-size: 0.75rem;
  color: #b5892f;
}

.footer-creditos span {
  color: #ff4c4c;
  font-weight: bold;
}

.foop {
  text-align: center;
}
